.osf__form {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	width: 100%;

	& *,
	& *::before,
	& *::after {
		box-sizing: inherit;
	}
}

.osf__field {
	display: flex;
	flex-direction: column;

	&.osf__field--label-left,
	&.osf__field--label-right {
		flex-direction: row;
	}
}

.osf__field-label {
	display: block;
}

.osf__field-input {
	-webkit-appearance: none;
	height: auto;
	margin: 0;
	min-height: auto;
	max-width: none;
}

.osf__field-description {}

.osf__field-wrapper {}
