.osf-form {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	width: 100%;

	& *,
	& *::before,
	& *::after {
		box-sizing: inherit;
	}
}

.osf-field {
	display: flex;
	flex-direction: column;

	&.osf-field--label-left,
	&.osf-field--label-right {
		flex-direction: row;
	}
}

.osf-field__label {
	display: block;
}
